@{
    //ViewBag.Title = "Berserk Statistics";
}
@section featured {
    <section class="featured">
       
    </section>
}

<img src="~/Images/Unicorn.jpg" alt="Sample Image" width="950px" style="display:inline-block;float:left;" />