@model IEnumerable<Statistics.Domain.Round>
<ul class="nav nav-tabs" role="tablist">
    @if (Model.Any())
    {
        foreach (Statistics.Domain.Round round in Model)
         {
             <li class="">
                 <a href="#tab-table" data-toggle="tab">@round.RoundId</a>
             </li>
         }
    }
</ul>

@if (Model.Any())
{
    foreach (Statistics.Domain.Round round in Model)
    {
        foreach (var table in round.Tables)
        {
            <tr>
                <td><img src="http://www.berserk.ru/old/gwt_tournaments/img/win_gray_32.png" class="gwt-Image"></td>
                <td>"DropDownListMembers"</td>
                <td><div class="gwt-Label"> VS </div></td>
                <td><img src="http://www.berserk.ru/old/gwt_tournaments/img/win_gray_32.png" class="gwt-Image"></td>
                <td>"DropDownListMembers"</td>
            </tr>
        }
    }
}