@model IEnumerable<Berserk_Statistics_MVC.Models.Tournament>

@{
    ViewBag.Title = "Турниры";
    var grid = new WebGrid(source: Model, rowsPerPage: 20);
}

<h2>Турниры</h2>

@section styles
{
    <link href="~/Content/GridStyles.css" rel="stylesheet" />
}

<p>
    @Html.ActionLink("Добавить новый турнир", "Create")
</p>

@grid.GetHtml(tableStyle: "grid",
              headerStyle: "header",
              rowStyle: "row",
              alternatingRowStyle: "alt-row",
              footerStyle: "footer",
              htmlAttributes: new { cellpadding = "6px", cellspacing = "0px" },
              columns: grid.Columns(
                grid.Column(columnName: "MemberId", header: "Название"),
                grid.Column(columnName: "Date", header: "Дата"),
                grid.Column(columnName: "RatingId", header: "Рейтинг")
                )
             )

