@model Statistics.Domain.Member

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить участника?</h3>

<p></p>
<fieldset>
    <legend>Member</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.MemberName, "Имя")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemberName)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Вернуться к списку", "Index")
    </p>
}
